<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCG_VjDIYrhFMtsXgMoGIhALIrwJJQlB2o</string>
	<key>GCM_SENDER_ID</key>
	<string>239626776078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorg.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chemicals-42e14</string>
	<key>STORAGE_BUCKET</key>
	<string>chemicals-42e14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239626776078:ios:b3faf5070b5392546c165f</string>
	<key>DATABASE_URL</key>
	<string>https://chemicals-42e14.firebaseio.com</string>
</dict>
</plist>